#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Esta regra aplica-se a telemóveis deitados (altura pequena) */
@media only screen and (max-height: 500px) and (orientation: landscape) {
  
  /* Substitua 'h1' ou '.seu-titulo' pela classe usada no 'RAFAEL PADILHA' */
  h1, .titulo-hero {
    /* Reduz a fonte para um tamanho que caiba, ou usa 'vh' para escalar com a altura */
    font-size: 10vh !important; 
    /* Ou tente um valor fixo em pixels se preferir: font-size: 32px; */
    
    line-height: 1.1; /* Aproxima um pouco as linhas se necessário */
  }

  /* Opcional: Ajustar o subtítulo (SAP ABAP...) também */
  p, .subtitulo {
    font-size: 14px;
  }
}